MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/ridedotin?retryWrites=true&w=majority
JWT_SECRET=change_this_secret
ADMIN_USER=admin
ADMIN_PASSWORD=change_this_password
GOOGLE_MAPS_API_KEY=your_google_maps_api_key
PORT=10000
